@charset "utf-8";
* { 
    margin: 0; padding: 0;
    vertical-align: baseline;
    font-family: 'Noto Sans KR';
    font-size: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}
li { list-style: none; }
a { text-decoration: none; }
.hid {
    font-size: 0;
    overflow: hidden;
}
@media screen and (min-width:601px){
/* Wep,Tavlet 화면 */
    /* body */
    /* banner */
    div.Banner {
        width: 100%;
        height: 250px;
        padding: 68px;
        background-image: 
        url(../images/banner/Banner.png);
        background-position: center;
        background-size: cover;
    }
    div.Banner h1 {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        line-height: 80px;
        font-size: 50px;
        color: #333;
    }
    div.Banner p {
        width: 100%;
        max-width: 1200px;
        height: 20px; 
        margin: 0 auto;
        font-family: '나눔고딕';
        color: #333;
    }

    /* main contents */
    /* 이벤트 정보 */
    div h2 {
         width: 100%;
        margin-top: 10px;
        margin-bottom: 60px;
        border-bottom: 1px solid rgb(126, 126, 126);
    }
    div.container p:nth-child(1) {
        height: 30px;
        line-height: 30px;
        font-size: 22px;
    }
    div.container p:nth-child(2) {
        height: 40px;
        line-height: 40px;
        font-size: 28px;
        margin-bottom: 3px;
    }
    div.container p:nth-child(3) {
        font-size: 15px;
        color: rgb(110, 110, 110);
        margin-bottom: 7px;
     }
     
        /* 콘텐츠 */
    div.container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 5px 40px;
    }
    section.Contents img {
        width: 100%;
    }
}
@media screen and (max-width:600px){
    /* body */
    /* banner */
    div.Banner {
        width: 100%;
        height: 120px;
        background-image: 
        url(../images/banner/Banner.jpg);
        background-position: center;
        background-size: cover;
    }
    div.Banner h1 {
        width: 100%;
        height: 120px;
        line-height: 120px;
        text-align: center;
        font-size: 25px;
        color: #333;
    }
    div.Banner p {
        display: none;
        width: 1200px;
        height: 20px;
        font-family: '나눔고딕';
        color: #333;
    }

    /* main contents */
    /* 이벤트 정보 */
    div h2 {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 60px;
        border-bottom: 1px solid rgb(126, 126, 126);
    }
    div.container p:nth-child(1) {
        height: 30px;
        line-height: 30px;
        font-size: 22px;
    }
    div.container p:nth-child(2) {
        height: 40px;
        line-height: 40px;
        font-size: 28px;
        margin-bottom: 3px;
    }
    div.container p:nth-child(3) {
        font-size: 15px;
        color: rgb(110, 110, 110);
        margin-bottom: 7px;
    }   
    /* 콘텐츠 */
    div.container {
        margin: 0 2.5%;
    }
    section.Contents img {
        width: 100%;
    }
}